main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  grid-template-rows: auto repeat(3, 1fr); /* primera fila auto (para el título), luego 3 filas */
  gap: 1em; /* separación entre cartas */
  justify-items: center; /* centra las cartas dentro de cada celda. */
  align-items: center; /* centra las cartas dentro de cada celda. */
}

/* El título ocupa toda la primera fila */
main > h2 {
  grid-column: 1 / -1;
  text-align: center;
}


/* Adaptabilidad para móviles */
@media (max-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: auto repeat(6, 1fr); /* primera fila auto (título), luego 6 filas de cartas */
  }
}

/*

main article[data-estado="oculta"]:hover {
  transform: scale(1.05);
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5);
}

main article[data-estado="revelada"]:hover {
  transform: rotateY(180deg); 
  cursor: default;
}


main article[data-estado="revelada"] {
  pointer-events: none;
}
*/